.PlayerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: space-evenly;
    padding-top: 30px;
}
.PreButton{
    margin-right: 3em;
}
.NextButton{
    margin-left: 3em;
}
.PageCount {
    cursor: default;
}
.Bottombuttons{
    margin-bottom: 150px;
    margin-top: 30px;
}
.Topbuttons{
    margin-top: 30px;
}