.App {
  text-align: center;
}
main{
  display: flex;
  justify-content: center;
}
.Routes {
  margin-bottom: 120px;
}
.Results {
  padding-top: 30px;
}
.PlayerResults {
  display: flex;
  justify-content: center;
}
